.form{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    
}

.formulario{
    background-color: brown;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 400px;
    margin-bottom: 20px;
}

.formulario > div{
    margin: 7px;
    padding: 4px;
    border: solid 1px black;
    justify-content: space-between;
    color: black;
    border-radius: 8px;
    background-color: rgb(77, 6, 6);
}

.formulario div p{
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.form h1{
    font-weight: bold;
    color: black;
}

input{
    margin-right: 0 50px;
    cursor: pointer;
}

.formulario button{
    margin-top: 17px;
    background-color: azure;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}

.formulario button:hover{
    background-color:rgb(77, 6, 6);
    color: white;
}